<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ meta_description }}">
        <meta name="author" content="{{ meta_author }}">

        <title>{% spaceless %}{% block pageTitile %}Domorosły inwestor{% endblock %}{% endspaceless %}</title>

        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('bundles/eduwebtraining/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="{{ asset('bundles/eduwebtraining/css/styles.css') }}" rel="stylesheet">
        {% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                {% 
                    set mainMenu = [
                        {'path':'edu_blog_glowna', 'name': 'Home'},
                        {'path':'edu_blog_dziennik', 'name': 'Dziennik'},
                        {'path':'edu_blog_about', 'name': 'O mnie'},
                        {'path':'edu_blog_contact', 'name': 'Kontakt'},
                        {'path':'edu_blog_guestBook', 'name': 'Księga Gości'},
                        {'path':'edu_blog_register', 'name': 'Rejestracja na szkolenie'},
                        {'path':'edu_blog_admin_listing', 'name': 'AdminPanel'}
                    ] 
                %}


                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% for item in mainMenu %}
                            <li {{ app.request.get('_route') == item['path'] ? 'class="active"' : '' }}><a href="{{ path(item['path']) }}">{{ item['name'] }}</a></li>
                        {% endfor %}

                        {#
                        <li class="active"><a href="glowna.html">Home</a></li>
                        <li><a href="dziennik.html">Dziennik</a></li>
                        <li><a href="o-mnie.html">O mnie</a></li>
                        <li><a href="kontakt.html">Kontakt</a></li>
                        #}
                    </ul>
                </div><!--/.navbar-collapse -->

            </div>
        </div>
        
                    <div class="container alerts">
                        {% for type,messages in app.session.flashbag.all() %}
                            {% for msg in messages %}
                                <div class="alert alert-{{ type }}">
                                    {{ msg }}
                                </div>
                            {% endfor %}                        
                        {% endfor %}
                    </div>
                    
    {% block pageContainer %}{% endblock %}

    <div id="footer">
        <div class="container">
            <p class="text-muted">&copy; Domorosły inwestor 2017</p>
        </div>
    </div>

    {% block javascripts %}
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ asset('bundles/eduwebtraining/js/contact-page.js') }}"></script>
    {% endblock %}

</body>
</html>