{% extends "EduwebTrainingBundle:Blog:sidebarLayout.html.twig"%}

{% block pageTitile %} 
    Lista rejestracji | {{ parent() }} 
{% endblock %}

{% block contentContainer %}   
    <article class="col-md-8">
        <h1>Lista rejestracji</h1>
        
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię i nazwisko</th>
                    <th>Kraj</th>
                    <th>Kurs</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in rows %}
                    <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.name }}</td>
                        <td>{{ entry.country }}</td>
                        <td>{{ entry.course }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-sm btn-info" href="{{ path('edu_blog_admin_details', {'id': entry.id}) }}">Zobacz szczegóły</a>
                            <a class="btn btn-sm btn-danger" href="{{ path('edu_blog_admin_delete', {'id': entry.id}) }}">Usuń rekord</a>
                            {% else %}
                                Nie posiadaż żadnych akcji
                            {%  endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Brak rejestracji</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <hr>
            <h4>Zalogowano jako: {{ app.user.username }}</h4>
            <h6>Posiadane role: {{ app.user.roles|join(' ,') }}</h6>
        
    </article>
{% endblock %}