{% extends "EduwebTrainingBundle:Blog:sidebarLayout.html.twig" %}

{% block pageTitle %}
    Rejestracja #{{ register.id }} | {{ parent() }}
{% endblock %}

{% block contentContainer %}
    <article class="col-md-8">
        <h1>Rejestracja #{{ register.id }}</h1>
        {{ form(form, {'attr': {'novalidate': 'true'}}) }}
    </article>
{% endblock %}