{% extends "EduwebTrainingBundle:Blog:sidebarLayout.html.twig"%}

{% block pageTitile %} 
    Kontakt | {{ parent() }} 
{% endblock %}

{% block contentContainer %}
    <article class="col-md-8 contact">

        <h1>Kontakt</h1>
        <p>Aby się ze mną skontaktować skorzystaj z poniższego formularza.</p>

        <div class="alert alert-success">
            <strong>Dzięki!</strong> Twoja wiadomość została wysłana!
        </div>

        <div class="alert alert-danger">
            <strong>Ups...</strong> Niestety nie udało się wysłać wiadomości... Spróbuj jeszcze raz!
        </div>

        <div class="alert alert-warning">
            <strong>Ups...</strong> Popraw błędy formularza!
        </div>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Imię</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="name" placeholder="Podaj swoje imię i nazwisko">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="email" placeholder="Podaj swój adres e-mail">
                </div>
            </div>

            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Wiadomość</label>
                <div class="col-sm-10">
                    <textarea id="message" class="form-control" rows="5" placeholder="Tu wpisz wiadomość :)"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Wyślij</button>
                </div>
            </div>
        </form>

    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/eduwebtraining/js/contact-page.js') }}"></script>
{% endblock %}