{% macro widgetList(title, listItems, btnLabel, btnUrl) %}
<section class="widget">
    <h2>{{ title }}</h2>
    <ol>
        {% for item in listItems %}
            <li>{{ item }}</li>
        {% endfor %}
    </ol>
    <p><a class="btn btn-default" href="{{ btnUrl }}" role="button">{{ btnLabel }} &raquo;</a></p>
</section>
{% endmacro %}