{% extends "EduwebTrainingBundle:Blog:sidebarLayout.html.twig"%}

{#{% form_theme form 'EduwebTrainingBundle:Form:form_theme.html.twig' %}#}

{% block pageTitile %} 
    Szkolenia giełdowe | {{ parent() }} 
{% endblock %}

{% block contentContainer %}   
    <article class="col-md-8">
        <h1>Rejestracja na szkolenie</h1>
        
       {# {% if formData is not null %}
        <pre>{{ dump(formData) }}</pre>
        {% endif %}#}
       
        {% if form is not null %}
            {{ form(form, {'attr': {'novalidate': 'true'}}) }}
        {% else %}
            <div class="panel panel-success">
                <div class="panel-heading">Już się zarejestrowałeś na szkolenie.</div>
                <div class="panel-body">Twoje zgłoszenie rejestracyjne jest przetwarzane.</div>
            </div>
        {% endif %}
            
            {#{{ form_start(form) }}
                {{ form_row(form.country) }}
                {{ form_row(form.email) }}
                {{ form_row(form.invest) }}
                {{ form_row(form.comments) }}
            {{ form_end(form) }}#}

    </article>
{% endblock %}